name: Deploy Frontend Website

on:
  push:
    branches:
      - main
    paths:
      - 'index.html'
      - 'style.css'
      - 'index.js'
      # Sadece bu dosyalar degisince calis, Terraform degisince calisma

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Upload to S3
      run: |
        aws s3 cp index.html s3://${{ secrets.AWS_S3_BUCKET }}/
        aws s3 cp style.css s3://${{ secrets.AWS_S3_BUCKET }}/
        aws s3 cp index.js s3://${{ secrets.AWS_S3_BUCKET }}/

    - name: Invalidate CloudFront
      run: |
        aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_ID }} --paths "/*"